<template>
  <q-page class="q-pt-lg column items-center">
    <q-card class="my-card q-mb-lg" style="margin-top: 50px;">
      <q-card-section>
        <div class="text-h6">Exportar Servicios</div>
        <div class="text-subtitle1">Filtra los servicios a exportar:
        </div>
      </q-card-section>

      <q-card-section>
        <q-input class="col q-mb-md" filled
                 v-model="date"
                 name="date"
                 label="Fecha">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                <q-date v-model="date" mask="YYYY-MM-DD">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat/>
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-select
          filled
          v-model="airport"
          name="airport"
          :options="airportOptions"
          label="Aeropuerto"
        />
        <q-select
          class="q-mt-md"
          filled
          v-model="business"
          name="business"
          :options="businesses"
          option-value="id"
          option-label="name"
          map-options
          label="Empresa"
        />
        <q-checkbox class="q-mt-md" v-model="isAssigned" label="Assignados" />
        <div class="q-mt-md text-secondary text-body1">{{ message }}</div>
      </q-card-section>

      <q-separator/>

      <q-card-actions>
        <q-btn color="green" @click="downloadServices('avantcab')" flat>
          Avantcab
        </q-btn>
        <q-btn color="red" @click="downloadServices('volcano')" flat>
          Volcano
        </q-btn>
        <q-inner-loading :showing="loading">
          <q-spinner
            color="primary"
            size="3em"
          />
        </q-inner-loading>
      </q-card-actions>
    </q-card>

  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
import VehicleService from '../services/vehicle.service';
import TransferService from '../services/transfer.service';
import BusinessService from '../services/business.service';

const serverErrorMessage = 'Connection error: Server is not running';

export default defineComponent({
  name: 'ExportExcelTransfers',
  methods: {
    downloadServices(providerType) {
      this.message = '';
      this.loading = true;

      const filteredVehiclesIds = this.vehicles.filter(
        (vehicle) => (
          this.business.id !== 0
            ? vehicle.business.id === this.business.id
            : false
        ),
      ).map((vehicle) => vehicle.id);

      TransferService.downloadTransfers({
        date: this.date,
        airportCode: this.airport.value,
        isAssigned: this.isAssigned,
        filteredVehiclesIds,
        providerType,
      })
        .then(
          (response) => {
            this.loading = false;

            const url = window.URL.createObjectURL(new Blob([response]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute(
              'download',
              `${providerType}-transfers-${this.date}-${this.airport.value.toUpperCase()}.xlsx`,
            );
            document.body.appendChild(link);
            link.click();
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loading = false;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    fetchVehicles() {
      this.loading = true;
      VehicleService.fetchVehicles()
        .then(
          (response) => {
            this.loading = false;
            this.vehicles = response.sort((a, b) => (a.id - b.id));
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    fetchBusiness() {
      this.loading = true;
      BusinessService.fetchBusiness()
        .then(
          (response) => {
            this.loading = false;
            this.businesses = response.sort((a, b) => (a.id - b.id));
            this.businesses.unshift({
              name: 'Todos',
              id: 0,
            });
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
  },
  created() {
    this.fetchVehicles();
    this.fetchBusiness();
  },
  setup() {
    return {
      loading: ref(false),
      message: ref(''),
      date: ref(''),
      vehicles: ref([]),

      isAssigned: ref(false),

      business: ref({
        name: 'Todos',
        id: 0,
      }),
      businesses: ref([]),

      airport: ref({
        label: 'Todos',
        value: '',
      }),
      airportOptions: [
        {
          label: 'Todos',
          value: '',
        },
        {
          label: 'Palma (PMI)',
          value: 'pmi',
        },
        {
          label: 'Barcelona (BCN)',
          value: 'bcn',
        },
        {
          label: 'Tenerife Sur (TFS)',
          value: 'tfs',
        },
        {
          label: 'Valencia (VLC)',
          value: 'vlc',
        },
        {
          label: 'Girona (GRO)',
          value: 'gro',
        },
        {
          label: 'Barajas (MAD)',
          value: 'mad',
        },
      ],
    };
  },
});
</script>

<style lang="sass">
.my-card
  width: 50%
</style>
