<template>
  <q-page class="column items-center">
    <h4>Importar Love Holidays</h4>
    <div class="row q-gutter-md items-start"
         style="width: 93%">
      <q-file class="col-3"
              accept=".csv"
              :rules="[val => !!val || 'Campo obligatorio']"
              outlined v-model="csvFile" label="Subir CSV *"/>

      <q-input class="col" outlined v-model="reference" label="Refencia"/>

      <q-input class="col" outlined v-model="date" label="Fecha">
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
              <q-date v-model="date" mask="DD/MM/YYYY">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat/>
                </div>
              </q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>

      <q-select
        :rules="[val => !!val || 'Campo obligatorio']"
        class="col" outlined v-model="airport"
        :options="airportOptions" label="Aeropuerto"/>
      <div class="col-3 row items-center q-pb-md">
        <q-btn
          class="q-mr-md"
          @click="getAllTransfers"
          size="16px"
          color="primary"
          label="Filtrar"
          :disable="loading"
        />
        <q-btn
          size="16px"
          color="secondary"
          label="Importar"
          :disable="loading"
          @click="importSelectedTransfers"
        />
      </div>

    </div>
    <div class="text-secondary text-body1">{{ message }}</div>
    <div class="column full-width" style="margin-top: 20px;">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        align="justify"
        narrow-indicator
      >
        <q-tab class="text-green" name="pending" label="Pendientes"/>
        <q-tab class="text-red" name="canceled" label="Cancelados"/>
      </q-tabs>

      <q-separator/>

      <q-tab-panels v-model="tab" animated class="full-width">
        <q-tab-panel name="pending">
          <q-table
            card-class="bg-green-2"
            table-class="bg-white"
            :rows="pendingRows"
            :columns="columns"
            row-key="transferBookingReference"
            :rows-per-page-options="[500, 250, 150, 50, 20]"
            selection="multiple"
            v-model:selected="selectedRows"
            :loading="loading">
            <template v-slot:top-left="props">
              <div class="col-2 q-table__title">
                Servicios pendientes
                <q-btn
                  flat dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                />
              </div>
            </template>
            <template v-slot:top-right>
              <q-btn
                class="q-mr-md"
                @click="sendWhatsappMessages"
                color="cyan"
                icon-right="notifications_active"
                label="Notificar"
                no-caps
                :disable="selectedRows <= 0"
              />
              <DownloadExcel
                class="q-mr-md"
                :columns="this.columnsForInvoice"
                :data="this.pendingRows.filter(
                  transfer => this.date === '' ||
                    transfer.outboundDate.includes(this.date)
                )"
                :filename="'love-holidays-invoice-' +
                              this.date + '-' +
                              this.airport.value"
                button-label="Exportar factura">
              </DownloadExcel>
              <q-btn
                color="green"
                icon-right="archive"
                label="Exportar a CSV"
                no-caps
                :disable="pendingRows <= 0"
                @click="exportTable"
              />
            </template>
          </q-table>
        </q-tab-panel>

        <q-tab-panel name="canceled">
          <q-table
            card-class="bg-deep-orange-1"
            table-class="bg-white"
            :rows="canceledRows"
            :columns="columns"
            row-key="transferBookingReference"
            :rows-per-page-options="[500, 250, 150, 50, 20]"
            selection="multiple"
            v-model:selected="selectedRows"
            :loading="loading">
            <template v-slot:top="props">
              <div class="col-2 q-table__title">Servicios cancelados</div>
              <q-btn
                flat dense
                :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                @click="props.toggleFullscreen"
              />
            </template>
          </q-table>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue';
import { date, exportFile } from 'quasar';
import DownloadExcel from '../components/DownloadExcel';
import ZoneReturnTimeService from '../services/zoneReturnTime.service';
import TransferService from '../services/transfer.service';

const serverErrorMessage = 'Connection error: Server is not running';
const defaultDateMask = 'DD/MM/YYYY';
const defaultTimeMask = 'HH:mm';
const columns = [
  {
    name: 'reference',
    required: true,
    label: 'Referencia',
    field: 'transferBookingReference',
    format: (val) => `${val}`,
    align: 'left',
  },
  {
    name: 'leadGuestFirstName',
    label: 'Nombre del cliente',
    field: 'leadGuestFirstName',
    format: (val, row) => (val.length + row.leadGuestLastName.length >= 30
      ? `**${val} ${row.leadGuestLastName}**`
      : `${val} ${row.leadGuestLastName}`
    ),
    align: 'left',
  },
  {
    name: 'leadGuestPhoneNumber',
    label: 'NºTelefono',
    field: 'leadGuestPhoneNumber',
    align: 'center',
  },
  {
    name: 'vehicle',
    label: 'Vehiculo/s',
    field: 'vehicle',
    format: (val, row) => `${val.split('-')
      .pop()
      .trim()} - ${row.vehicleQuantity}`,
    align: 'center',
  },
  {
    name: 'pickupPoint',
    label: 'Punto de recogida',
    field: 'pickupPoint',
    align: 'center',
  },
  {
    name: 'outboundDate',
    label: 'Fecha y hora de llegada',
    field: 'outboundDate',
    format: (val, row) => `${val} ${row.outboundTime}`,
    align: 'center',
  },
  {
    name: 'outboundFlightCode',
    label: 'Codigo de vuelo',
    field: 'outboundFlightCode',
    align: 'center',
  },
  {
    name: 'accommodationName',
    label: 'Destino',
    field: 'accommodationName',
    align: 'left',
  },
  {
    name: 'geographyLevel3',
    label: 'Zona del destino',
    field: 'geographyLevel3',
    align: 'center',
  },
  {
    name: 'returnDate',
    label: 'Fecha y hora de vuelta',
    field: 'returnDate',
    format: (val, row) => `${val} ${row.returnTimeByZone}`,
    align: 'center',
  },
  {
    name: 'returnTime',
    label: 'Hora de salida del vuelo',
    field: 'returnTime',
    align: 'center',
  },
  {
    name: 'adults',
    label: 'NºAdultos',
    field: 'adults',
    align: 'center',
  },
  {
    name: 'children',
    label: 'NºNiños',
    field: 'children',
    align: 'center',
  },
  {
    name: 'infants',
    label: 'NºBebes',
    field: 'infants',
    align: 'center',
  },
  {
    name: 'totalCost',
    label: 'Coste Total (€)',
    field: 'totalCost',
    align: 'center',
  },
  {
    name: 'bookingDate',
    label: 'Fecha de la reserva',
    field: 'bookingDate',
    align: 'center',
  },
];

const columnsForInvoice = [
  {
    label: 'LOVEHOLIDAYS BOOKING REF',
    field: 'bookingReference',
  },
  {
    label: 'INVOICE NUMBER',
    field: 'invoiceNumber',
  },
  {
    label: 'LEAD NAME',
    field: 'leadGuestFirstName',
    format: (row) => `${row.leadGuestTitle.toUpperCase()} ${row.leadGuestFirstName} ${row.leadGuestLastName}`,
  },
  {
    label: 'HOTEL NAME',
    field: 'accommodationName',
  },
  {
    label: 'RESORT',
    field: 'geographyLevel3',
  },
  {
    label: 'BOOKING DATE',
    field: 'bookingDate',
  },
  {
    label: 'ARRIVAL DATE',
    field: 'outboundDate',
  },
  {
    label: 'DEPARTURE DATE',
    field: 'returnDate',
  },
  {
    label: 'AMOUNT',
    field: 'totalCost',
    format: (row) => `${row.totalCost.trim()}`,
  },
];

export default {
  name: 'ImportCSVLoveHolidays',
  components: { DownloadExcel },
  methods: {
    async getAllTransfers() {
      if (this.csvFile) {
        this.canceledRows = [];
        this.pendingRows = [];
        this.selectedRows = [];
        this.message = '';
        this.loading = true;

        let zoneReturnTimes;
        try {
          zoneReturnTimes = await ZoneReturnTimeService.fetchZoneReturnTimes();
        } catch (error) {
          this.message = error;
          this.loading = false;
        }

        if (zoneReturnTimes) {
          const reader = new FileReader();
          reader.onload = (e) => {
            const text = e.target.result;
            const transfers = this.csvToArray(text);

            const transfersFiltered = transfers
              .filter(this.filterByDate)
              .filter(this.filterByAirport)
              .filter(this.filterByReference);

            transfersFiltered.map((transfer) => {
              let zoneTimeObject;

              if (transfer.oneWayReturn.toLowerCase() !== 'one way') {
                zoneTimeObject = zoneReturnTimes.find(
                  (zoneReturnTime) => {
                    const existZone = this.normalizeString(zoneReturnTime.zone)
                      === this.normalizeString(transfer.geographyLevel3);

                    const existPickupTime = this.normalizeString(zoneReturnTime.pickupPoint)
                      === this.normalizeString(transfer.pickupPoint);

                    return existZone && existPickupTime;
                  },
                );

                transfer.returnDate = this.removeZerosInDate(transfer.returnDate);
              }

              transfer.outboundDate = this.removeZerosInDate(transfer.outboundDate);
              transfer.bookingDate = this.removeZerosInDate(transfer.bookingDate);
              transfer.invoiceNumber = 'TF2';
              transfer.leadGuestPhoneNumber = this.addPrefixNumber(
                transfer.leadGuestPhoneNumber,
              );

              if (zoneTimeObject?.time) {
                const returnDateTime = date.extractDate(
                  `${transfer.returnDate} ${transfer.returnTime}`,
                  `${defaultDateMask} ${defaultTimeMask}`,
                );
                const zoneTime = date.extractDate(zoneTimeObject.time, 'H:mm');
                const returnDateTimeByZone = date.subtractFromDate(returnDateTime, {
                  hours: zoneTime.getHours(),
                  minutes: zoneTime.getMinutes(),
                });

                transfer.returnDate = date.formatDate(returnDateTimeByZone, defaultDateMask);
                transfer.returnTimeByZone = date.formatDate(returnDateTimeByZone, defaultTimeMask);
              } else {
                transfer.returnTimeByZone = '00:00';
              }

              return transfer;
            });

            transfersFiltered.forEach((transfer) => {
              if (transfer.transferBookingStatus === 'Pending') {
                this.pendingRows.push(transfer);
              } else {
                this.canceledRows.push(transfer);
              }
            });

            this.loading = false;
          };

          reader.readAsText(this.csvFile);
        }
      }
    },
    importSelectedTransfers() {
      if (this.selectedRows.length > 0) {
        this.loading = true;
        this.message = '';

        TransferService.importTransferCSV(this.selectedRows)
          .then(
            (response) => {
              this.loading = false;
              this.message = response.message;
            },
            (error) => {
              const errorResponse = error.response?.data;
              this.loading = false;
              if (errorResponse) {
                this.message = errorResponse.error.message;
              } else {
                this.message = serverErrorMessage;
              }
            },
          );
      } else {
        this.message = 'No hay ningun servicio selecionado';
      }
    },
    exportTable() {
      const content = [columns.map((col) => this.wrapCsvValue(col.label))].concat(
        this.pendingRows.map((row) => columns.map((col) => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === void 0 ? col.name : col.field],
          col.format,
          row,
        ))
          .join(',')),
      )
        .join('\r\n');

      exportFile(
        `Love-Holidays-${this.date}-${this.airport.value}.csv`,
        content,
        'text/csv',
      );
    },

    csvToArray(str, delimiter = ',') {
      const headers = str.slice(0, str.indexOf('\n'))
        .split(delimiter);

      const rows = str.slice(str.indexOf('\n') + 1)
        .split('\n');

      const arr = rows.map((row) => {
        const values = row.split(delimiter);

        return headers.reduce((object, header, index) => {
          object[this.camelize(header)] = values[index]?.replaceAll('"', '');
          return object;
        }, {});
      });

      arr.pop();

      return arr;
    },
    camelize(text) {
      text = text.replace(/[-_\s.]+(.)?/g, (_, c) => (c ? c.toUpperCase() : ''));
      return text.substr(0, 1)
        .toLowerCase() + text.substr(1);
    },
    normalizeString(string) {
      return string.trim()
        .toLowerCase();
    },
    removeZerosInDate(dateWithZeros) {
      return dateWithZeros.split(' ')[0];
    },
    wrapCsvValue(val, formatFn, row) {
      let formatted = formatFn !== void 0
        ? formatFn(val, row)
        : val;

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted);

      formatted = formatted.split('"')
        .join('""');

      return `"${formatted}"`;
    },

    filterByDate(transfer) {
      const outboundDate = transfer?.outboundDate?.split(' ')[0];
      const returnDate = transfer?.returnDate?.split(' ')[0];
      return this.date === ''
        || outboundDate.includes(this.date)
        || returnDate.includes(this.date);
    },
    filterByAirport(transfer) {
      const airport = transfer.pickupPoint.toLowerCase();
      return this.airport.value === '' || airport.includes(this.airport.value);
    },
    filterByReference(transfer) {
      const reference = transfer.transferBookingReference;
      return this.reference === '' || reference.includes(this.reference);
    },

    addPrefixNumber(phoneNumber) {
      if (phoneNumber === '') return '';
      const cleanPhoneNumber = phoneNumber.replace(/\b0+/g, '')
        .replace(/[^\w\s]/gi, '');
      let phoneNumberWithPrefix;

      const firstNumber = cleanPhoneNumber.slice(0, 1);
      switch (firstNumber) {
        case '7':
          phoneNumberWithPrefix = `44${cleanPhoneNumber}`;
          break;
        case '8':
          phoneNumberWithPrefix = `353${cleanPhoneNumber}`;
          break;
        default:
          phoneNumberWithPrefix = cleanPhoneNumber;
      }
      return phoneNumberWithPrefix;
    },

    sendWhatsappMessages() {
      this.selectedRows.forEach((transfer) => this.sendWhatsappMessage(transfer));
    },

    sendWhatsappMessage({
      leadGuestPhoneNumber,
      leadGuestFirstName,
      leadGuestLastName,
      transferBookingReference,
      outboundDate,
      outboundTime,
      outboundFlightCode,
      returnDate,
      returnTimeByZone,
      accommodationName,
      pickupPoint,
    }) {
      const whatsappURL = `https://api.whatsapp.com/send?phone=${leadGuestPhoneNumber}&text=`;
      const currentDateTime = new Date(Date.now());
      const outboundDateTime = date.extractDate(`${outboundDate} ${outboundTime}`, 'DD/MM/YYYY HH:mm');

      const initialMessage = `On ${outboundDate} you will start your vacation and from Avantcab we want to
offer you the information for the round trip to the airport.

* Arrival day ${outboundDate} at ${outboundTime} with flight ${outboundFlightCode}`;

      const isOutboundTransfer = outboundDateTime > currentDateTime;
      const message = `Hi ${leadGuestFirstName} ${leadGuestLastName}, with Reference: ${transferBookingReference}

${isOutboundTransfer ? initialMessage : ''}

* Your trip back to the airport is scheduled for ${returnDate} at ${returnTimeByZone} from ${accommodationName}.

${pickupPoint === 'Tenerife Sur' && isOutboundTransfer ? 'When you arrive at the airport we will be waiting for you at our office, please '
        + 'follow the instructions in the following link to find us.\n'
        + 'If you are unable to open the link, please let us know and we will send you the photo:\n'
        + 'https://drive.google.com/file/d/17sVl9gNl4aKTJXxg8mC6Lppg8uVFmo83/view?usp=sharing \n'
        + 'If you prefer, you can also watch the tour to the AVANTCAB office on video at the following youtube link: \n'
        + 'https://youtu.be/Y9Xk2aROJFc' : ''}
${pickupPoint === 'Son Sant Joan' && isOutboundTransfer ? 'When you arrive at the airport we will be waiting for you at our office, please '
        + 'follow the instructions in the following link to find us.\n'
        + 'If you are unable to open the link, please let us know and we will send you the photo:'
        + 'https://drive.google.com/file/d/1S6__vLbq3qpLYhPO1lZlOQRGGuIxy0xM/view?usp=sharing \n'
        + 'If you prefer, you can also watch the tour to the AVANTCAB office on video at the following youtube link: \n'
        + 'https://youtu.be/xIwEekoYebg' : ''}
Remember that if you need to modify the dates, you must contact your Agency.
If you need to change the pick-up time back to the airport, it must be done for organizational reasons, with a minimum of 24 hours before your pick-up time.
If you need more information, do not hesitate to contact us by replying to this message (THIS PHONE HAS WHATSAPP CALLS DISABLED) or in case of urgency by calling +34871961473, selecting your vacation spot from the available options.

Kind regards.`;

      window.open(whatsappURL + encodeURIComponent(message), transferBookingReference);
    },
  },
  setup() {
    return {
      tab: ref('pending'),

      csvFile: ref(null),
      date: ref(''),
      reference: ref(''),
      loading: ref(false),
      message: ref(''),

      columns,
      columnsForInvoice,
      pendingRows: ref([]),
      canceledRows: ref([]),
      selectedRows: ref([]),

      airport: ref({
        label: 'Todos',
        value: '',
      }),
      airportOptions: [
        {
          label: 'Todos',
          value: '',
        },
        {
          label: 'Barajas',
          value: 'barajas',
        },
        {
          label: 'Barcelona',
          value: 'barcelona',
        },
        {
          label: 'Girona',
          value: 'girona',
        },
        {
          label: 'Son Sant Joan',
          value: 'son sant joan',
        },
        {
          label: 'Tenerife Sur',
          value: 'tenerife sur',
        },
        {
          label: 'Valencia',
          value: 'valencia',
        },
      ],
    };
  },
};
</script>

<style scoped>

</style>
