<template>
  <q-page class="column items-center">
    <h4>Selecciona los XMLs con servicios a importar</h4>
    <q-uploader
      :factory="factoryFn"
      @failed="failedFile"
      label="Importador de XMLs"
      multiple
      batch
      accept=".xml"
      fieldName="file"
      style="width: 40%; height: 300px;"
    />
    <p style="width: 40%;" class="q-mt-lg text-weight-bold" v-if="message">
      <q-icon color="negative" size="3rem" name="error" />
      {{ message }}
    </p>
  </q-page>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'ImportTransferXml',
  setup() {
    return {
      message: ref(''),
    };
  },
  methods: {
    failedFile(event) {
      let response = {
        error: {
          message: 'Connection error: Server is not running',
        },
      };

      if (event?.xhr?.response) {
        response = JSON.parse(event?.xhr?.response);
      }

      this.message = response?.error?.message;
    },
    factoryFn() {
      this.message = '';
      const user = JSON.parse(localStorage.getItem('user'));
      return {
        url: `${process.env.API_REST}api/transfer/import-xml`,
        method: 'POST',
        headers: [{
          name: 'Authorization',
          value: `Bearer ${user?.accessToken}`,
        }],
      };
    },
  },
};
</script>

<style scoped>

</style>
