<template>
  <q-page class="column items-center">
    <h4>Importar Hoppa</h4>
    <div class="row items-center q-pb-md">
      <q-uploader
        class="q-mr-md"
        :factory="factoryFn"
        @uploaded="getConvertedXMLTooObjects"
        @failed="failedFile"
        label="Añadir XMLs de Hoppa"
        multiple
        batch
        accept=".xml"
        fieldName="file"
      />
      <q-btn
        size="16px"
        color="secondary"
        label="Importar"
        :disable="loading || this.selectedRows.length <= 0"
        @click="importSelectedTransfers"
      />
    </div>
    <div class="text-secondary text-body1">{{ message }}</div>

    <div class="column full-width" style="margin-top: 20px;">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        align="justify"
        narrow-indicator
      >
        <q-tab class="text-green" name="pending" label="Pendientes"/>
        <q-tab class="text-red" name="canceled" label="Cancelados"/>
        <q-tab class="text-blue" name="verify" label="Verificaciones"/>
      </q-tabs>

      <q-separator/>

      <q-tab-panels v-model="tab" animated class="full-width">
        <q-tab-panel name="pending">
          <q-table
            card-class="bg-green-2"
            table-class="bg-white"
            :rows="pendingRows"
            :columns="columns"
            row-key="reference"
            :rows-per-page-options="[200, 150, 50]"
            selection="multiple"
            v-model:selected="selectedRows"
            :loading="loading">
            <template v-slot:body-cell="props">
              <q-td
                :props="props"
                :class="validateRows(props.row) ?
                'bg-white text-black':'bg-red-2 text-black'"
              >
                {{ props.value }}
              </q-td>
            </template>
            <template v-slot:top-left="props">
              <div class="col-2 q-table__title">
                Servicios pendientes
                <q-btn
                  flat dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                />
              </div>
            </template>
            <template v-slot:top-right>
              <DownloadExcel
                class="q-mr-md"
                :columns="this.columnsForInvoice"
                :data="this.pendingRows"
                :filename="'hoppa-invoice'"
                button-label="Exportar factura">
              </DownloadExcel>
              <q-btn
                class="q-mr-md"
                color="cyan"
                icon-right="notifications_active"
                @click="sendWhatsappMessages"
                label="Notificar"
                no-caps
                :disable="selectedRows <= 0"
              />
            </template>
          </q-table>
        </q-tab-panel>
        <q-tab-panel name="canceled">
          <q-table
            card-class="bg-deep-orange-1"
            table-class="bg-white"
            :rows="canceledRows"
            :columns="columns"
            row-key="reference"
            :rows-per-page-options="[200, 150, 50, 20]"
            selection="multiple"
            v-model:selected="selectedRows"
            :loading="loading">
            <template v-slot:top="props">
              <div class="col-2 q-table__title">Servicios cancelados</div>
              <q-btn
                flat dense
                :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                @click="props.toggleFullscreen"
              />
            </template>
            <template v-slot:body-cell="props">
              <q-td
                :props="props"
                :class="validateRows(props.row) ?
                'bg-white text-black':'bg-red-2 text-black'"
              >
                {{ props.value }}
              </q-td>
            </template>
          </q-table>
        </q-tab-panel>
        <q-tab-panel name="verify">
          <q-table
            card-class="bg-blue-2"
            table-class="bg-white"
            :rows="pendingVerifyRows"
            :columns="columnsVerify"
            row-key="reference"
            :rows-per-page-options="[150, 50, 200]"
            selection="multiple"
            v-model:selected="selectedPendingVerifyRows"
            :loading="loading">
            <template v-slot:body-cell="props">
              <q-td
                :props="props"
                :class="validateRows(props.row) ?
                'bg-white text-black':'bg-red-2 text-black'"
              >
                <div  v-if="props.col.name === 'buttons'">
                  <q-btn color="blue" class="q-mr-md" no-caps @click="rejectBooking(
                           props.row.reference,
                           53
                         )">Destino</q-btn>
                  <q-btn color="red" class="q-mr-md"
                          no-caps @click="rejectBooking(
                           props.row.reference,
                           60
                         )">Movil</q-btn>
                  <q-btn color="green" class="q-mr-md"
                         no-caps @click="rejectBooking(
                           props.row.reference,
                           57
                         )">Vuelo</q-btn>
                </div>
                <a v-if="props.col.name === 'reference'" :href="'https://partners.hoppa.com/verify.asp?id=' + props.value" target="_blank">{{
                    props.value
                  }}
                </a>
                <div v-if="props.col.name  !== 'reference'">{{ props.value }}</div>
              </q-td>
            </template>
            <template v-slot:top-left="props">
              <div class="col-2 q-table__title">
                Verificar servicios
                <q-btn
                  flat dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                />
              </div>
            </template>
            <template v-slot:top-right>
              <q-select
                filled
                v-model="hoppaUser"
                name="username"
                :options="hoppaUsers"
                label="Usuario"
                bg-color="blue-grey-1"
                class="q-pr-lg"
              />
              <q-file
                class="q-mr-md"
                accept=".csv"
                bg-color="blue-6"
                label-color="white"
                color="white"
                filled
                v-model="csvFile"
                label="Subir CSV *"/>
              <q-btn
                class="q-mr-md"
                @click="filterPendingBookings"
                color="blue"
                label="FILTRAR"
                no-caps
                :disable="pendingVerifyRows.length <= 0
                && csvFile == null"
              />
              <q-btn
                class="q-mr-md"
                @click="verifyBookings"
                color="green"
                label="VERIFICAR"
                no-caps
                :disable="selectedPendingVerifyRows.length <= 0"
              />
            </template>
          </q-table>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue';
import DownloadExcel from '../components/DownloadExcel';
import TransferService from '../services/transfer.service';
import HoppaVerifyService from '../services/hoppaVerifyTransfer.service';

const serverErrorMessage = 'Connection error: Server is not running';
const columns = [
  {
    name: 'reference',
    required: true,
    label: 'Referencia',
    field: 'reference',
    format: (val) => `${val}`,
    align: 'left',
  },
  {
    name: 'customerName',
    label: 'Nombre del cliente',
    format: (val) => (val.length >= 30 ? `**${val}**` : val),
    field: 'customerName',
    align: 'left',
  },
  {
    name: 'customerMobile',
    label: 'NºTelefono',
    field: 'customerMobile',
    align: 'center',
  },
  {
    name: 'journey1',
    label: 'Punto de recogida',
    field: 'journey1',
    format: (val) => `${val.from}`,
    align: 'center',
  },
  {
    name: 'journey1',
    label: 'Fecha y hora de llegada',
    field: 'journey1',
    format: (val) => `${val?.date} ${val?.time}`,
    align: 'center',
  },
  {
    name: 'specificLocation',
    label: 'Destino',
    field: 'specificLocation',
    align: 'left',
  },
  {
    name: 'journey2',
    label: 'Numero del vuelo',
    field: 'journey2',
    format: (val) => `${val?.gatewayInfo}`,
    align: 'center',
  },
  {
    name: 'journey2',
    label: 'Fecha y hora de vuelta',
    field: 'journey2',
    format: (val) => `${val?.pickupDate} ${val?.pickupTime}`,
    align: 'center',
  },
  {
    name: 'adults',
    label: 'NºAdultos',
    field: 'adults',
    align: 'center',
  },
  {
    name: 'childrens',
    label: 'NºNiños',
    field: 'childrens',
    align: 'center',
  },
  {
    name: 'infants',
    label: 'NºBebes',
    field: 'infants',
    align: 'center',
  },
  {
    name: 'bookingDate',
    label: 'Fecha de Reserva',
    field: 'bookingDate',
    align: 'center',
  },
  {
    name: 'price',
    label: 'Coste Total (€)',
    field: 'price',
    align: 'center',
  },
];
const columnsVerify = [
  {
    name: 'buttons',
    required: true,
    label: 'Rechazar reserva',
    field: 'buttons',
    align: 'left',
  },
  {
    name: 'reference',
    required: true,
    label: 'Referencia',
    field: 'reference',
    format: (val) => `${val}`,
    align: 'left',
  },
  {
    name: 'customerName',
    label: 'Nombre del cliente',
    format: (val) => (val.length >= 30 ? `**${val}**` : val),
    field: 'customerName',
    align: 'left',
  },
  {
    name: 'customerMobile',
    label: 'NºTelefono',
    field: 'customerMobile',
    align: 'center',
  },
  {
    name: 'journey2',
    label: 'Numero del vuelo',
    field: 'journey2',
    format: (val) => `${val?.gatewayInfo}`,
    align: 'center',
  },
  {
    name: 'journey1',
    label: 'Punto de recogida',
    field: 'journey1',
    format: (val) => `${val.from}`,
    align: 'center',
  },
  {
    name: 'journey1',
    label: 'Fecha y hora de llegada',
    field: 'journey1',
    format: (val) => `${val?.date} ${val?.time}`,
    align: 'center',
  },
  {
    name: 'specificLocation',
    label: 'Destino',
    field: 'specificLocation',
    align: 'left',
  },
  {
    name: 'journey2',
    label: 'Fecha y hora de vuelta',
    field: 'journey2',
    format: (val) => `${val?.pickupDate} ${val?.pickupTime}`,
    align: 'center',
  },
  {
    name: 'adults',
    label: 'NºAdultos',
    field: 'adults',
    align: 'center',
  },
  {
    name: 'childrens',
    label: 'NºNiños',
    field: 'childrens',
    align: 'center',
  },
  {
    name: 'infants',
    label: 'NºBebes',
    field: 'infants',
    align: 'center',
  },
  {
    name: 'bookingDate',
    label: 'Fecha de Reserva',
    field: 'bookingDate',
    align: 'center',
  },
  {
    name: 'price',
    label: 'Coste Total (€)',
    field: 'price',
    align: 'center',
  },
];

const columnsForInvoice = [
  {
    name: 'reference',
    required: true,
    label: 'Referencia',
    field: 'reference',
    align: 'left',
  },
  {
    name: 'customerName',
    label: 'Nombre del cliente',
    field: 'customerName',
    align: 'left',
  },
  {
    name: 'price',
    label: 'Coste Total (€)',
    field: 'price',
    align: 'center',
  },
];

export default {
  name: 'ImportTransferHoppa',
  setup() {
    return {
      tab: ref('pending'),
      csvFile: ref(null),

      hoppaUsers: ref([
        {
          label: 'PmiAvant',
          value: 'PmiAvant',
        },
        {
          label: 'BcnAvant',
          value: 'BcnAvant',
        },
        {
          label: 'GroAvant',
          value: 'GroAvant',
        },
        {
          label: 'TfsAvant',
          value: 'TfsAvant',
        },
        {
          label: 'IbzAvant',
          value: 'IbzAvant',
        },
      ]),
      hoppaUser: ref({
        label: 'PmiAvant',
        value: 'PmiAvant',
      }),

      pendingRows: ref([]),
      canceledRows: ref([]),
      selectedRows: ref([]),

      allRows: ref([]),
      pendingVerifyRows: ref([]),
      selectedPendingVerifyRows: ref([]),

      loading: ref(false),

      columns,
      columnsVerify,
      columnsForInvoice,

      message: ref(''),
    };
  },
  components: { DownloadExcel },
  methods: {
    getConvertedXMLTooObjects(event) {
      this.canceledRows = [];
      this.pendingRows = [];
      this.selectedRows = [];
      this.allRows = [];
      this.pendingVerifyRows = [];
      this.selectedPendingVerifyRows = [];
      this.message = '';
      this.loading = true;

      const rows = JSON.parse(event?.xhr?.response);
      const filteredRows = rows.reduce((unique, o) => {
        if (!unique.some((obj) => obj.reference === o.reference)) {
          unique.push(o);
        }
        return unique;
      }, []);

      this.allRows = [...filteredRows];
      this.pendingVerifyRows = [...filteredRows];

      filteredRows.forEach((transfer) => {
        if (transfer.bookingStatus === 'CANCELLED') {
          this.canceledRows.push(transfer);
        } else {
          this.pendingRows.push(transfer);
        }
      });

      this.loading = false;
    },

    importSelectedTransfers() {
      if (this.selectedRows.length > 0) {
        this.loading = true;
        this.message = '';

        TransferService.importTransfers(this.selectedRows)
          .then(
            (response) => {
              this.loading = false;
              this.message = response.message;
            },
            (error) => {
              const errorResponse = error.response?.data;
              this.loading = false;
              if (errorResponse) {
                this.message = errorResponse.error.message;
              } else {
                this.message = serverErrorMessage;
              }
            },
          );
      } else {
        this.message = 'No hay ningun servicio selecionado';
      }
    },

    filterPendingBookings() {
      if (this.csvFile) {
        this.loading = true;
        const reader = new FileReader();

        reader.onload = (e) => {
          const text = e.target.result;
          const bookings = this.csvToArray(text);
          const bookingRefs = bookings.map((booking) => booking?.bookingRef);

          this.pendingVerifyRows = this.allRows.filter(
            (row) => bookingRefs.includes(row.reference),
          );
        };

        reader.readAsText(this.csvFile);
        this.loading = false;
      }
    },

    validateRows({
      customerMobile,
      journey1,
      journey2,
    }) {
      const journey1Airport = journey1?.gatewayInfo;
      const journey2PickupTime = journey2?.pickupTime || !journey2.time;

      if (customerMobile && journey1Airport && journey2PickupTime) {
        if (this.onlyLettersAndNumbers(journey1Airport)
          && this.onlyNumbersWithSpecialChars(customerMobile)) {
          return true;
        }
      }

      return false;
    },
    onlyLettersAndNumbers(str) {
      return /^[A-Za-z\d :]*$/.test(str);
    },
    onlyNumbersWithSpecialChars(str) {
      return /^[0-9.,+ ]+$/.test(str);
    },
    csvToArray(str, delimiter = ',') {
      const headers = str.slice(0, str.indexOf('\n'))
        .split(delimiter);

      const rows = str.slice(str.indexOf('\n') + 1)
        .split('\n');

      const arr = rows.map((row) => {
        const values = row.split(delimiter);

        return headers.reduce((object, header, index) => {
          object[this.camelize(header.toLowerCase())] = values[index]?.replaceAll('"', '');
          return object;
        }, {});
      });

      arr.pop();

      return arr;
    },
    camelize(text) {
      text = text.replace(/[-_\s.]+(.)?/g, (_, c) => (c ? c.toUpperCase() : ''));
      return text.substr(0, 1)
        .toLowerCase() + text.substr(1);
    },

    sendWhatsappMessages() {
      this.selectedRows.forEach((transfer) => this.sendWhatsappMessage(transfer));
    },

    verifyBookings() {
      this.loading = true;
      const bookingRefs = this.selectedPendingVerifyRows.map(
        (booking) => booking?.reference,
      );
      const username = this.hoppaUser.value;
      HoppaVerifyService.verifyBookingRefs({
        username,
        bookingRefs,
      })
        .then(
          (response) => {
            this.loading = false;
            this.message = response.message;
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loading = false;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },

    rejectBooking(bookingRef, reasonId) {
      this.loading = true;
      const username = this.hoppaUser.value;
      HoppaVerifyService.rejectBookingRef({
        username,
        bookingRef,
        reasonId,
      })
        .then(
          (response) => {
            this.loading = false;
            this.message = response.message;
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loading = false;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },

    sendWhatsappMessage({
      reference,
      transferType,
      customerMobile,
      customerName,
      specificLocation,
      journey1,
      journey2,
    }) {
      const phoneNumber = this.addPrefixNumber(customerMobile);
      const whatsappURL = `https://api.whatsapp.com/send?phone=${phoneNumber}&text=`;
      let message = '';

      if (transferType !== 'ONEWAY') {
        message = `Hi ${customerName}, with Reference: ${reference}

On ${journey1?.date} you will start your vacation and from Avantcab we want to
offer you the information for the round trip to the airport.

* Arrival day ${journey1?.date} at ${journey1?.time} with flight ${journey1.gatewayInfo?.toUpperCase()}

* Your trip back to the airport is scheduled for ${journey2?.pickupDate} at ${journey2?.pickupTime}
  from ${journey2?.from}, ${specificLocation}.

${journey2?.to?.includes('TFS') ? 'When you arrive at the airport we will be waiting for you at our office, please '
          + 'follow the instructions in the following link to find us.\n'
          + 'If you are unable to open the link, please let us know and we will send you the photo:'
          + 'https://drive.google.com/file/d/1iNU258_h5raH1vKhURofVXZmU_3PPrB5/view?usp=sharing \n'
          + 'If you prefer, you can also watch the tour to the AVANTCAB office on video at the following youtube link: \n'
          + 'https://youtu.be/Y9Xk2aROJFc' : ''}
${journey2?.to?.includes('PMI') ? 'When you arrive at the airport we will be waiting for you at our office, please '
          + 'follow the instructions in the following link to find us.\n'
          + 'If you are unable to open the link, please let us know and we will send you the photo:\n'
          + 'https://drive.google.com/file/d/1S6__vLbq3qpLYhPO1lZlOQRGGuIxy0xM/view?usp=sharing \n'
          + 'If you prefer, you can also watch the tour to the AVANTCAB office on video at the following youtube link: \n'
          + 'https://youtu.be/xIwEekoYebg' : ''}
Remember that if you need to modify the dates, you must contact your Agency.
If you need to change the pick-up time back to the airport, it must be done for organizational reasons, with a minimum of 24 hours before your pick-up time.
If you need more information, do not hesitate to contact us by replying to this message (THIS PHONE HAS WHATSAPP CALLS DISABLED) or in case of urgency by calling +34871961473, selecting your vacation spot from the available options.

Kind regards.`;
      } else {
        const isEntrance = journey1.from.includes('TFS') || journey1.from.includes('PMI');
        message = `Hi ${customerName}, with Reference: ${reference}

${isEntrance ? `On ${journey1?.date} you will start your vacation and from Avantcab we want to
offer you the information for the round trip to the airport.

* Arrival day ${journey1?.date} at ${journey1?.time} with flight ${journey1.gatewayInfo?.toUpperCase()}` : ''}

${!isEntrance ? `* Your trip back to the airport is scheduled for ${journey1?.pickupDate} at
${journey1?.pickupTime} from ${journey1?.from}, ${specificLocation}.` : ''}

${journey1?.from?.includes('TFS') && isEntrance ? 'When you arrive at the airport we will be waiting for you at our office, please '
          + 'follow the instructions in the following link to find us.\n'
          + 'If you are unable to open the link, please let us know and we will send you the photo:'
          + 'https://drive.google.com/file/d/1iNU258_h5raH1vKhURofVXZmU_3PPrB5/view?usp=sharing \n'
          + 'If you prefer, you can also watch the tour to the AVANTCAB office on video at the following youtube link:'
          + 'https://youtu.be/Y9Xk2aROJFc' : ''}
${journey1?.from?.includes('PMI') && isEntrance ? 'When you arrive at the airport we will be waiting for you at our office, please '
          + 'follow the instructions in the following link to find us.\n'
          + 'If you are unable to open the link, please let us know and we will send you the photo:\n'
          + 'https://drive.google.com/file/d/1S6__vLbq3qpLYhPO1lZlOQRGGuIxy0xM/view?usp=sharing \n'
          + 'If you prefer, you can also watch the tour to the AVANTCAB office on video at the following youtube link:'
          + 'https://youtu.be/xIwEekoYebg' : ''}
Remember that if you need to modify the dates, you must contact your Agency.
If you need to change the pick-up time back to the airport, it must be done for organizational reasons, with a minimum of 24 hours before your pick-up time.
If you need more information, do not hesitate to contact us by replying to this message (THIS PHONE HAS WHATSAPP CALLS DISABLED) or in case of urgency by calling +34871961473, selecting your vacation spot from the available options.

Kind regards.`;
      }

      window.open(whatsappURL + encodeURIComponent(message), reference);
    },

    addPrefixNumber(phoneNumber) {
      if (phoneNumber === '') return '';
      const cleanPhoneNumber = phoneNumber.replace(/\b0+/g, '')
        .replace(/[^\w\s]/gi, '');
      let phoneNumberWithPrefix;

      const firstNumber = cleanPhoneNumber.slice(0, 1);
      switch (firstNumber) {
        case '7':
          phoneNumberWithPrefix = `44${cleanPhoneNumber}`;
          break;
        case '8':
          phoneNumberWithPrefix = `353${cleanPhoneNumber}`;
          break;
        default:
          phoneNumberWithPrefix = cleanPhoneNumber;
      }
      return phoneNumberWithPrefix;
    },

    failedFile(event) {
      let response = {
        error: {
          message: 'Connection error: Server is not running',
        },
      };

      if (event?.xhr?.response) {
        response = JSON.parse(event?.xhr?.response);
      }

      this.message = response?.error?.message;
    },

    factoryFn() {
      this.message = '';
      const user = JSON.parse(localStorage.getItem('user'));
      return {
        url: `${process.env.API_REST}api/transfer/convert-hoppa-xml-to-json`,
        method: 'POST',
        headers: [{
          name: 'Authorization',
          value: `Bearer ${user?.accessToken}`,
        }],
      };
    },
  },
};
</script>

<style scoped>

</style>
