<template>
  <q-page class="column items-center">
    <q-form
      @submit="onSubmit"
      style="width: 80%; margin-top: 60px;"
    >
      <div class="row q-gutter-lg q-mb-md">
        <q-input class="col"
                 outlined
                 type="text"
                 name="passengerName"
                 v-model="passengerName"
                 label="Nombre del pasajero *"
                 :rules="[val => !!val || 'Campo obligatorio']"
        />
        <q-select
          class="col"
          outlined
          name="serviceType"
          v-model="serviceType"
          :options="serviceTypeOptions"
          :rules="[val => !!val || 'Campo obligatorio']"
          label="Tipo de servicio *"/>
        <q-select
          class="col"
          outlined
          name="reference"
          v-model="reference"
          :options="referenceOptions"
          :rules="[val => !!val || 'Campo obligatorio']"
          label="Referencia *"/>
      </div>

      <div class="row q-gutter-md q-mb-md">
        <q-input class="col"
                 outlined
                 type="text"
                 name="originOrDestination"
                 v-model="originOrDestination"
                 label="Origen o Destino *"
                 ref="autocomplete"
                 :rules="[val => !!val || 'Campo obligatorio']"
        />
        <q-input class="col-4"
                 name="serviceDateTime"
                 label="Fecha del servicio *"
                 filled
                 v-model="serviceDateTime"
                 :rules="[val => !!val || 'Campo obligatorio']"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                <q-date v-model="serviceDateTime" mask="YYYY-MM-DD HH:mm">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat/>
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                <q-time v-model="serviceDateTime" mask="YYYY-MM-DD HH:mm" format24h>
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat/>
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-checkbox class="col-2 q-mb-md"
                    name="driverSign"
                    v-model="driverSign"
                    label="Recogida con cartel"/>
      </div>

      <div class="row q-gutter-md q-mb-md">
        <q-input class="col"
                 outlined
                 type="number"
                 name="numberOfPassengers"
                 v-model="numberOfPassengers"
                 label="Numero de pasajeros *"
                 :rules="[val => !!val || 'Campo obligatorio']"
        />
        <q-input class="col"
                 outlined
                 type="text"
                 name="flightNumber"
                 v-model="flightNumber"
                 label="Numero de vuelo"
        />
      </div>
      <div class="row q-mb-md">
        <q-input class="col"
                 outlined
                 type="textarea"
                 name="observations"
                 v-model="observations"
                 label="Observaciones"
        />
      </div>

      <div class="row">
        <q-btn label="Importar servicio" type="submit" color="primary"/>
        <div class="q-pt-sm q-pl-lg text-secondary text-body1">{{ message }}</div>
        <q-inner-loading :showing="loading">
          <q-spinner
            color="primary"
            size="3em"
          />
        </q-inner-loading>
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
import TransferService from '../services/transfer.service';

const serverErrorMessage = 'Connection error: Server is not running';

export default defineComponent({
  name: 'ImportTransferForm',
  methods: {
    onSubmit() {
      this.message = '';
      this.loading = true;

      TransferService.importTransferForm({
        passengerName: this.passengerName,
        serviceType: this.serviceType.value,
        reference: this.reference.value,
        originOrDestination: this.originOrDestination,
        serviceDateTime: this.serviceDateTime,
        driverSign: this.driverSign,
        numberOfPassengers: this.numberOfPassengers,
        flightNumber: this.flightNumber,
        observations: this.observations,
      })
        .then(
          (response) => {
            this.loading = false;
            this.message = response.message;
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loading = false;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
  },
  mounted() {
    // eslint-disable-next-line no-undef
    this.autocompleteInput = new google.maps.places.Autocomplete(
      this.$refs.autocomplete.getNativeElement(),
    );

    this.autocompleteInput.addListener('place_changed', () => {
      // eslint-disable-next-line no-underscore-dangle
      const place = Object.values(this.autocompleteInput.gm_accessors_.place)[0];
      this.originOrDestination = place.formattedPrediction;
    });
  },
  setup() {
    return {
      message: ref(''),
      loading: ref(false),

      passengerName: ref(''),

      serviceType: ref(null),
      serviceTypeOptions: [
        {
          label: 'Entrada',
          value: 'E',
        },
        {
          label: 'Salida',
          value: 'S',
        },
      ],

      reference: ref(null),
      referenceOptions: [
        {
          label: 'Alex',
          value: 'ALEX',
        },
        {
          label: 'Alfonsa',
          value: 'ALF',
        },
      ],

      originOrDestination: ref(''),
      autocompleteInput: ref(''),
      serviceDateTime: ref(null),
      driverSign: ref(false),
      numberOfPassengers: ref(1),
      flightNumber: ref(''),
      observations: ref(''),
    };
  },
});
</script>
