<template>
  <q-page class="q-pt-lg column items-center">
    <q-card class="my-card q-mb-lg" style="margin-top: 50px;">
      <q-card-section>
        <div class="text-h6">Sincronizar Easy Taxi Office</div>
        <div class="text-subtitle1">Selecciona la fecha de los servicios a sincronizar
          de Transunion hacia Easy Taxi Office:
        </div>
      </q-card-section>

      <q-card-section>
        <q-input class="col q-mb-md" filled
                 v-model="dateSync"
                 name="date"
                 label="Fecha">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                <q-date v-model="dateSync" mask="YYYY-MM-DD">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat/>
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-select
          filled
          v-model="airportEasyTaxi"
          name="airport"
          :options="airportOptionsEasyTaxi"
          label="Aeropuerto"
        />
        <div class="q-mt-md text-secondary text-body1">{{ messageSync }}</div>
      </q-card-section>

      <q-separator/>

      <q-card-actions>
        <q-btn @click="syncEasyTaxi" :disable="loadingSync" flat>Sincronizar</q-btn>
        <q-inner-loading :showing="loadingSync">
          <q-spinner
            color="primary"
            size="3em"
          />
        </q-inner-loading>
      </q-card-actions>
    </q-card>

    <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">Sincronizar Transunion</div>
        <div class="text-subtitle1">Selecciona la fecha y el cliente al que pertenece
          las reservas a sincronizar de Easy Taxi Office pendientes hacia Transunion:
        </div>
      </q-card-section>

      <q-card-section>
        <q-input class="col q-mb-md" filled
                 v-model="dateImport"
                 name="date"
                 label="Fecha">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                <q-date v-model="dateImport" mask="YYYY-MM-DD">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat/>
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-select
          class="q-mb-md"
          filled
          v-model="client"
          name="client"
          :options="clientsOptions"
          label="Cliente"
        />
        <q-select
          filled
          v-model="airport"
          name="airport"
          :options="airportOptions"
          label="Aeropuerto"
        />
        <div class="q-mt-md text-secondary text-body1">{{ messageImport }}</div>
      </q-card-section>

      <q-separator/>

      <q-card-actions>
        <q-btn @click="syncTransunion" :disable="loadingImport" flat>Sincronizar</q-btn>
        <q-inner-loading :showing="loadingImport">
          <q-spinner
            color="primary"
            size="3em"
          />
        </q-inner-loading>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
import TransferService from '../services/transfer.service';

const serverErrorMessage = 'Connection error: Server is not running';

export default defineComponent({
  name: 'PageIndex',
  methods: {
    syncEasyTaxi() {
      this.messageSync = '';
      this.loadingSync = true;
      TransferService.synchronizeEasyTaxi({
        date: this.dateSync,
        airportCode: this.airportEasyTaxi.value,
      })
        .then(
          (response) => {
            this.loadingSync = false;
            this.messageSync = response.message;
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loadingSync = false;
            if (errorResponse) {
              this.messageSync = errorResponse.error.message;
            } else {
              this.messageSync = serverErrorMessage;
            }
          },
        );
    },
    syncTransunion() {
      this.messageImport = '';
      this.loadingImport = true;
      TransferService.synchronizeTransunion({
        date: this.dateImport,
        client: this.client.value,
        airportCode: this.airport.value,
      })
        .then(
          (response) => {
            this.loadingImport = false;
            this.messageImport = response.message;
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loadingImport = false;
            if (errorResponse) {
              this.messageImport = errorResponse.error.message;
            } else {
              this.messageImport = serverErrorMessage;
            }
          },
        );
    },
  },
  setup() {
    return {
      loadingSync: ref(false),
      messageSync: ref(''),
      dateSync: ref(''),

      loadingImport: ref(false),
      messageImport: ref(''),
      dateImport: ref(''),

      airport: ref({
        label: 'Todos',
        value: '',
      }),
      airportOptions: [
        {
          label: 'Todos',
          value: '',
        },
        {
          label: 'Palma (PMI)',
          value: 'pmi',
        },
        {
          label: 'Barcelona (BCN)',
          value: 'bcn',
        },
        {
          label: 'Tenerife Sur (TFS)',
          value: 'tfs',
        },
        {
          label: 'Valencia (VLC)',
          value: 'vlc',
        },
        {
          label: 'Girona (GRO)',
          value: 'gro',
        },
        {
          label: 'Barajas (MAD)',
          value: 'mad',
        },
      ],

      airportEasyTaxi: ref({
        label: 'Todos',
        value: '',
      }),
      airportOptionsEasyTaxi: [
        {
          label: 'Todos',
          value: '',
        },
        {
          label: 'Palma (PMI)',
          value: 'pmi',
        },
        {
          label: 'Barcelona (BCN)',
          value: 'bcn',
        },
        {
          label: 'Tenerife Sur (TFS)',
          value: 'tfs',
        },
        {
          label: 'Valencia (VLC)',
          value: 'vlc',
        },
        {
          label: 'Girona (GRO)',
          value: 'gro',
        },
        {
          label: 'Barajas (MAD)',
          value: 'mad',
        },
      ],

      client: ref({
        label: 'Todos',
        value: '',
      }),
      clientsOptions: [
        {
          label: 'Todos',
          value: '',
        },
        {
          label: 'AVANTCAB',
          value: 'source-AVANTCAB',
        },
        {
          label: 'BOOKING.COM',
          value: 'source-Booking.com',
        },
        {
          label: 'AVANTCAB DIRECT',
          value: '241',
        },
        {
          label: 'TALIXO',
          value: '244',
        },
        {
          label: 'TALIXO-AV',
          value: '131',
        },
        {
          label: 'WELCOME',
          value: '242',
        },
        {
          label: 'BENICABIT',
          value: '243',
        },
        {
          label: 'SMART RYDE TEST',
          value: '240',
        },
        {
          label: 'SMART RYDE',
          value: '183',
        },
      ],
    };
  },
});
</script>

<style lang="sass">
.my-card
  width: 50%
</style>
