<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex bg-image flex-center">
        <q-card v-bind:style="$q.screen.lt.sm?{'width': '80%'}:{'width':'30%'}">
          <q-card-section>
            <div class="text-center q-pt-lg">
              <div class="col text-h6 ellipsis">
                Log in
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form
              @submit="handleLogin"
              class="q-gutter-md"
            >
              <q-input
                filled
                v-model="username"
                label="Usuario"
                lazy-rules
                :rules="[val => !!val || 'Campo obligatorio']"
              />

              <q-input
                type="password"
                filled
                v-model="password"
                label="Contraseña"
                lazy-rules
                :rules="[val => !!val || 'Campo obligatorio']"
              />

              <q-btn :disabled="loading"
                     label="Login"
                     type="submit"
                     color="primary"/>

              <p>{{ message }}</p>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue';

const serverErrorMessage = 'Connection error: Server is not running';

export default defineComponent({
  name: 'Login',
  setup() {
    return {
      username: ref(''),
      password: ref(''),
      loading: ref(false),
      message: ref(''),
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/sync-transfers');
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      this.message = '';

      this.$store.dispatch('auth/login', {
        username: this.username,
        password: this.password,
      })
        .then(
          () => {
            this.$router.push('/sync-transfers');
          },
          (error) => {
            this.loading = false;

            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
  },
});
</script>

<style>
.bg-image {
  background-image: linear-gradient(135deg, #7028e4 0%, #e5b2ca 100%);
}
</style>
