<template>
  <div class="q-pa-md">
    <q-table
      title="Empresas"
      :rows="rows"
      :columns="columns"
      :rows-per-page-options="[20, 40, 80]"
      row-key="name"
    >
      <template v-slot:top>
        <div class="text-body1 q-mr-md">Empresas</div>
        <q-btn color="green" class="q-mr-md"
               icon="add"
               size="md"
               @click="addNew.activeDialog = true"
               no-caps></q-btn>
        <q-dialog v-model="addNew.activeDialog">
          <q-card style="width: 30%">
            <q-card-section class="q-gutter-md">
              <q-input class="col"
                       v-model="addNew.data.name"
                       filled type="text" label="Nombre"/>
              <q-input class="col"
                       v-model="addNew.data.cif"
                       filled type="text" label="CIF"/>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Cancelar" color="primary" v-close-popup/>
              <q-btn flat
                     label="Añadir"
                     @click="addBusiness(addNew.data)"
                     color="green"
                     v-close-popup/>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="id" :props="props">{{ props.row.id }}</q-td>
          <q-td key="name" :props="props">{{ props.row.name }}</q-td>
          <q-td key="cif" :props="props">{{ props.row.cif }}</q-td>
          <q-td key="actions" :props="props">

            <!-- Edit Driver Btn and Dialog -->
            <q-btn color="blue" class="q-mr-md"
                   icon="edit"
                   @click="updateForm = {
                      editData: {
                        id: props.row.id,
                        name: props.row.name,
                        cif: props.row.cif,
                      },
                      [props.row.id]: true,
                    }" size="md"
                   no-caps></q-btn>
            <q-dialog v-model="updateForm[props.row.id]">
              <q-card style="width: 30%">
                <q-card-section class="q-gutter-md">
                  <q-input v-model="updateForm.editData.name"
                           filled type="text" label="Nombre"/>
                  <q-input v-model="updateForm.editData.cif"
                           filled type="text" label="CIF"/>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancelar" color="primary" v-close-popup/>
                  <q-btn flat
                         label="Actualizar"
                         @click="updateBusiness(updateForm.editData)"
                         color="blue"
                         v-close-popup/>
                </q-card-actions>
              </q-card>
            </q-dialog>

            <!-- Delete Driver Btn and Dialog -->
            <q-btn color="red"
                   icon="delete"
                   @click="confirmRemove = {
                        item: props.row,
                        [props.row.id]: true,
                     }"
                   size="md" no-caps></q-btn>
            <q-dialog v-model="confirmRemove[props.row.id]">
              <q-card>
                <q-card-section class="row items-center">
                  <q-avatar icon="delete"
                            size="40px"
                            font-size="35px"
                  />
                  <span class="q-ml-sm text-body1">Seguro quieres eliminar esta empresa?</span>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancelar" color="primary" v-close-popup/>
                  <q-btn flat
                         label="Eliminar"
                         @click="deleteBusiness(confirmRemove.item)"
                         color="red"
                         v-close-popup/>
                </q-card-actions>
              </q-card>
            </q-dialog>
          </q-td>
        </q-tr>
        <q-inner-loading :showing="loading" color="primary"/>
      </template>
    </q-table>
    <div class="q-pt-sm q-pl-lg text-secondary text-body1">{{ message }}</div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue';
import BusinessService from '../services/business.service';

const serverErrorMessage = 'Connection error: Server is not running';
const columns = [
  {
    name: 'id',
    required: true,
    label: 'ID',
    align: 'center',
    field: (row) => row.id,
    sortable: true,
  },
  {
    name: 'name',
    align: 'center',
    label: 'Nombre',
    field: 'name',
  },
  {
    name: 'cif',
    align: 'center',
    label: 'CIF',
    field: 'cif',
  },
  {
    name: 'actions',
    align: 'center',
    label: 'Acciones',
    field: 'actions',
  },
];

export default defineComponent({
  name: 'ManageBusiness',
  methods: {
    fetchList() {
      this.loading = true;
      BusinessService.fetchBusiness()
        .then(
          (response) => {
            this.loading = false;
            this.rows = response.sort((a, b) => (a.id - b.id));
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    addBusiness(business) {
      this.loading = true;
      BusinessService.addBusiness(business)
        .then(
          () => {
            this.resetAddInputs();
            this.fetchList();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    updateBusiness(business) {
      this.loading = true;
      BusinessService.updateBusiness({
        businessId: business.id,
        business: {
          name: business.name,
          cif: business.cif,
        },
      })
        .then(
          () => {
            this.fetchList();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    deleteBusiness(business) {
      this.loading = true;
      BusinessService.deleteBusiness(business.id)
        .then(
          () => {
            this.fetchList();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },

    resetAddInputs() {
      this.addNew.data.name = '';
      this.addNew.data.cif = '';
    },
  },
  created() {
    this.fetchList();
  },
  setup() {
    const selected = ref([]);

    return {
      addNew: ref({
        data: {
          name: ref(''),
          cif: ref(''),
        },
        activeDialog: ref(false),
      }),
      confirmRemove: ref({
        item: {},
      }),
      updateForm: ref({
        editData: {
          id: ref(1),
          name: ref(''),
          cif: ref(''),
        },
      }),

      loading: ref(false),
      message: ref(''),
      columns,
      selected,
      rows: ref([]),
    };
  },
});
</script>

<style scoped>

</style>
