<template>
  <div class="q-pa-md">
    <q-table
      title="Vehiculos"
      :rows="rows"
      :columns="columns"
      :rows-per-page-options="[20, 40, 80]"
      row-key="name"
    >
      <template v-slot:top>
        <div class="text-body1 q-mr-md">Vehiculos</div>
        <q-btn color="green" class="q-mr-md"
               icon="add"
               size="md"
               @click="addNew.activeDialog = true"
               no-caps></q-btn>
        <q-dialog v-model="addNew.activeDialog">
          <q-card style="width: 30%">
            <q-card-section class="q-gutter-md">
              <q-input class="col-12"
                       :min="1"
                       v-model="addNew.data.id"
                       filled type="number" label="Transunion ID"/>
              <q-input class="col"
                       :min="1"
                       v-model="addNew.data.easyTaxiId"
                       filled type="number" label="EasyTaxiOffice ID"/>
              <q-input class="col"
                       v-model="addNew.data.name"
                       filled type="text" label="Modelo"/>
              <q-input class="col"
                       v-model="addNew.data.registration"
                       filled type="text" label="Matricula"/>
              <q-select
                filled
                label="Empresas"
                v-model="addNew.data.business"
                :options="businesses"
                option-value="id"
                option-label="name"
                map-options
              />
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Cancelar" color="primary" v-close-popup/>
              <q-btn flat
                     label="Añadir"
                     @click="addVehicle(addNew.data)"
                     color="green"
                     v-close-popup/>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="id" :props="props">{{ props.row.id }}</q-td>
          <q-td key="easyTaxiId" :props="props">{{ props.row.easyTaxiId }}</q-td>
          <q-td key="name" :props="props">{{ props.row.name }}</q-td>
          <q-td key="registration" :props="props">{{ props.row.registration }}</q-td>
          <q-td key="business" :props="props">{{ props.row.business.name }}</q-td>
          <q-td key="actions" :props="props">

            <!-- Edit Driver Btn and Dialog -->
            <q-btn color="blue" class="q-mr-md"
                   icon="edit"
                   @click="updateForm = {
                      editData: {
                        id: props.row.id,
                        easyTaxiId: props.row.easyTaxiId,
                        name: props.row.name,
                        registration: props.row.registration,
                        business: props.row.business,
                      },
                      [props.row.id]: true,
                    }" size="md"
                   no-caps></q-btn>
            <q-dialog v-model="updateForm[props.row.id]">
              <q-card style="width: 30%">
                <q-card-section class="q-gutter-md">
                  <q-input :min="1"
                           v-model="updateForm.editData.easyTaxiId"
                           filled type="number" label="EasyTaxiOffice ID"/>
                  <q-input v-model="updateForm.editData.name"
                           filled type="text" label="Modelo"/>
                  <q-input v-model="updateForm.editData.registration"
                           filled type="text" label="Matricula"/>
                  <q-select
                    filled
                    label="Empresas"
                    v-model="updateForm.editData.business"
                    :options="businesses"
                    option-value="id"
                    option-label="name"
                    map-options
                  />
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancelar" color="primary" v-close-popup/>
                  <q-btn flat
                         label="Actualizar"
                         @click="updateVehicle(updateForm.editData)"
                         color="blue"
                         v-close-popup/>
                </q-card-actions>
              </q-card>
            </q-dialog>

            <!-- Delete Driver Btn and Dialog -->
            <q-btn color="red"
                   icon="delete"
                   @click="confirmRemove = {
                        item: props.row,
                        [props.row.id]: true,
                     }"
                   size="md" no-caps></q-btn>
            <q-dialog v-model="confirmRemove[props.row.id]">
              <q-card>
                <q-card-section class="row items-center">
                  <q-avatar icon="delete"
                            size="40px"
                            font-size="35px"
                  />
                  <span class="q-ml-sm text-body1">Seguro quieres eliminar este vehiculo?</span>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancelar" color="primary" v-close-popup/>
                  <q-btn flat
                         label="Eliminar"
                         @click="deleteVehicle(confirmRemove.item)"
                         color="red"
                         v-close-popup/>
                </q-card-actions>
              </q-card>
            </q-dialog>
          </q-td>
        </q-tr>
        <q-inner-loading :showing="loading" color="primary"/>
      </template>
    </q-table>
    <div class="q-pt-sm q-pl-lg text-secondary text-body1">{{ message }}</div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue';
import VehicleService from '../services/vehicle.service';
import BusinessService from '../services/business.service';

const serverErrorMessage = 'Connection error: Server is not running';
const columns = [
  {
    name: 'id',
    required: true,
    label: 'Transunion ID',
    align: 'center',
    field: (row) => row.id,
    sortable: true,
  },
  {
    name: 'easyTaxiId',
    align: 'center',
    label: 'EasyTaxiOffice ID',
    field: 'easyTaxiId',
  },
  {
    name: 'name',
    align: 'center',
    label: 'Modelo',
    field: 'name',
  },
  {
    name: 'registration',
    align: 'center',
    label: 'Matricula',
    field: 'registration',
  },
  {
    name: 'business',
    align: 'center',
    label: 'Empresa',
    field: 'business',
  },
  {
    name: 'actions',
    align: 'center',
    label: 'Acciones',
    field: 'actions',
  },
];

export default defineComponent({
  name: 'ManageDrivers',
  methods: {
    fetchBusinessList() {
      BusinessService.fetchBusiness()
        .then(
          (response) => {
            this.businesses = response.sort((a, b) => (a.id - b.id));
          },
          (error) => {
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    fetchList() {
      this.loading = true;
      this.fetchBusinessList();

      VehicleService.fetchVehicles()
        .then(
          (response) => {
            this.loading = false;
            this.rows = response.sort((a, b) => (a.id - b.id));
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    addVehicle(vehicle) {
      this.loading = true;
      VehicleService.addVehicle(vehicle)
        .then(
          () => {
            this.resetAddDriverInputs();
            this.fetchList();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    updateVehicle(vehicle) {
      this.loading = true;
      VehicleService.updateVehicle({
        vehicleId: vehicle.id,
        vehicle: {
          easyTaxiId: Number(vehicle.easyTaxiId),
          name: vehicle.name,
          registration: vehicle.registration,
          business: {
            id: Number(vehicle.business.id),
            name: vehicle.business.name,
            cif: vehicle.business.cif,
          },
        },
      })
        .then(
          () => {
            this.fetchList();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    deleteVehicle(vehicle) {
      this.loading = true;
      VehicleService.deleteVehicle(vehicle.id)
        .then(
          () => {
            this.fetchList();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },

    resetAddDriverInputs() {
      this.addNew.data.id = 1;
      this.addNew.data.easyTaxiId = 1;
      this.addNew.data.name = '';
      this.addNew.data.registration = '';
      this.addNew.data.business = null;
    },
  },
  created() {
    this.fetchList();
  },
  setup() {
    const selected = ref([]);

    return {
      addNew: ref({
        data: {
          id: ref(1),
          easyTaxiId: ref(1),
          name: ref(''),
          registration: ref(''),
          business: ref(null),
        },
        activeDialog: ref(false),
      }),
      confirmRemove: ref({
        item: {},
      }),
      updateForm: ref({
        editData: {
          id: ref(1),
          easyTaxiId: ref(1),
          name: ref(''),
          registration: ref(''),
          business: ref(null),
        },
      }),
      businesses: ref([]),

      loading: ref(false),
      message: ref(''),
      columns,
      selected,
      rows: ref([]),
    };
  },
});
</script>

<style scoped>

</style>
