<template>
  <q-page class="column items-center">
    <h4>Actulizar puntos de recogida con su zona física</h4>
    <div class="column">
      <q-file accept=".csv"
              :rules="[val => !!val || 'Campo obligatorio']"
              outlined v-model="csvFile" label="Subir CSV puntos de recogida *"/>
      <q-btn
        class="q-mt-md q-mb-md"
        @click="updatePointsCodeZones"
        size="16px"
        color="primary"
        label="Actualizar puntos de recogida"
        :disable="loading || this.csvFile == null"
      />
      <div class="q-mt-md text-secondary text-body1">{{ message }}</div>
      <q-inner-loading :showing="loading" color="primary"/>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
import PointCodeZoneService from '../services/pointCodeZone.service';

const serverErrorMessage = 'Connection error: Server is not running';
export default defineComponent({
  name: 'ManagePointCodeZones',
  methods: {
    updatePointsCodeZones() {
      this.loading = true;
      this.message = '';

      const reader = new FileReader();
      reader.onload = (e) => {
        const text = e.target.result;
        const pointCodeZones = this.csvToArray(text)
          .map((pointCodeZone) => ({
            pointCode: pointCodeZone.codigo.replace(/[\n\r]/g, ''),
            zone: pointCodeZone.zonaFisica?.replace(/[\n\r]/g, ''),
          }));

        PointCodeZoneService.updateAllPointCodeZone(pointCodeZones)
          .then(
            (response) => {
              this.loading = false;
              this.message = response;
            },
            (error) => {
              this.loading = false;
              const errorResponse = error.response?.data;
              if (errorResponse) {
                this.message = errorResponse.error.message;
              } else {
                this.message = serverErrorMessage;
              }
            },
          );
      };
      reader.readAsText(this.csvFile);
    },
    csvToArray(str, delimiter = ';') {
      const headers = str.slice(0, str.indexOf('\n'))
        .split(delimiter);

      const rows = str.slice(str.indexOf('\n') + 1)
        .split('\n');

      const arr = rows.map((row) => {
        const values = row.split(delimiter);

        return headers.reduce((object, header, index) => {
          object[this.camelize(header)] = values[index]?.replaceAll('"', '');
          return object;
        }, {});
      });

      arr.pop();

      return arr;
    },
    camelize(text) {
      text = text.replace(/[-_\s.]+(.)?/g, (_, c) => (c ? c.toUpperCase() : ''));
      return text.substr(0, 1)
        .toLowerCase() + text.substr(1);
    },
  },
  setup() {
    return {
      csvFile: ref(null),
      loading: ref(false),
      message: ref(''),
    };
  },
});
</script>

<style scoped>

</style>
