<template>
  <div class="q-pa-md">
    <q-table
      title="Conductores"
      :rows="rows"
      :columns="columns"
      :rows-per-page-options="[20, 40, 80]"
      row-key="name"
    >
      <template v-slot:top>
        <div class="text-body1 q-mr-md">Conductores</div>
        <q-btn color="green" class="q-mr-md"
               icon="add"
               size="md"
               @click="addNewDriver.activeDialog = true"
               no-caps></q-btn>
        <q-dialog v-model="addNewDriver.activeDialog">
          <q-card style="width: 30%">
            <q-card-section class="q-gutter-md">
              <q-input class="col-12"
                       :min="1"
                       v-model="addNewDriver.driverData.id"
                       filled type="number" label="Transunion ID"/>
              <q-input class="col"
                       :min="1"
                       v-model="addNewDriver.driverData.easyTaxiId"
                       filled type="number" label="EasyTaxiOffice ID"/>
              <q-input class="col"
                       v-model="addNewDriver.driverData.name"
                       filled type="text" label="Nombre"/>
              <q-input class="col"
                       v-model="addNewDriver.driverData.email"
                       filled type="text" label="Email"/>
              <q-input class="col"
                       v-model="addNewDriver.driverData.phoneNumber"
                       filled type="text" label="Nombre de telefono"/>
              <q-input class="col"
                       v-model="addNewDriver.driverData.business"
                       filled type="text" label="Empresa"/>
              <q-input class="col"
                       v-model="addNewDriver.driverData.telegramChatId"
                       filled type="text" label="Identificador Chat Telegram"/>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Cancelar" color="primary" v-close-popup/>
              <q-btn flat
                     label="Añadir"
                     @click="addDriver(addNewDriver.driverData)"
                     color="green"
                     v-close-popup/>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="id" :props="props">{{ props.row.id }}</q-td>
          <q-td key="easyTaxiId" :props="props">{{ props.row.easyTaxiId }}</q-td>
          <q-td key="name" :props="props">{{ props.row.name }}</q-td>
          <q-td key="email" :props="props">{{ props.row.email }}</q-td>
          <q-td key="phoneNumber" :props="props">{{ props.row.phoneNumber }}</q-td>
          <q-td key="business" :props="props">{{ props.row.business }}</q-td>
          <q-td key="telegramChatId" :props="props">{{ props.row.telegramChatId }}</q-td>
          <q-td key="actions" :props="props">

            <!-- Edit Driver Btn and Dialog -->
            <q-btn color="blue" class="q-mr-md"
                   icon="edit"
                   @click="updateFormDriver = {
                      editDriverData: {
                        id: props.row.id,
                        easyTaxiId: props.row.easyTaxiId,
                        name: props.row.name,
                        email: props.row.email,
                        phoneNumber: props.row.phoneNumber,
                        business: props.row.business,
                        telegramChatId: props.row.telegramChatId,
                      },
                      [props.row.id]: true,
                    }" size="md"
                   no-caps></q-btn>
            <q-dialog v-model="updateFormDriver[props.row.id]">
              <q-card style="width: 30%">
                <q-card-section class="q-gutter-md">
                  <q-input :min="1"
                           v-model="updateFormDriver.editDriverData.easyTaxiId"
                           filled type="number" label="EasyTaxiOffice ID"/>
                  <q-input v-model="updateFormDriver.editDriverData.name"
                           filled type="text" label="Nombre"/>
                  <q-input v-model="updateFormDriver.editDriverData.email"
                           filled type="text" label="Email"/>
                  <q-input v-model="updateFormDriver.editDriverData.phoneNumber"
                           filled type="text" label="Numero de telefono"/>
                  <q-input v-model="updateFormDriver.editDriverData.business"
                           filled type="text" label="Empresa"/>
                  <q-input v-model="updateFormDriver.editDriverData.telegramChatId"
                           filled type="text" label="Identificador Chat Telegram"/>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancelar" color="primary" v-close-popup/>
                  <q-btn flat
                         label="Actualizar"
                         @click="updateDriver(updateFormDriver.editDriverData)"
                         color="blue"
                         v-close-popup/>
                </q-card-actions>
              </q-card>
            </q-dialog>

            <!--Notificar hojas de ruta al conductor-->
            <q-btn color="cyan" class="q-mr-md"
                   icon="notifications_active"
                   @click="sendWhatsappMessage(props.row.phoneNumber)"
                   size="md" no-caps
            ></q-btn>

            <!-- Delete Driver Btn and Dialog -->
            <q-btn color="red"
                   icon="delete"
                   @click="confirmRemoveDriver = {
                        item: props.row,
                        [props.row.id]: true,
                     }"
                   size="md" no-caps></q-btn>
            <q-dialog v-model="confirmRemoveDriver[props.row.id]">
              <q-card>
                <q-card-section class="row items-center">
                  <q-avatar icon="delete"
                            size="40px"
                            font-size="35px"
                  />
                  <span class="q-ml-sm text-body1">Seguro quieres eliminar este conductor?</span>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancelar" color="primary" v-close-popup/>
                  <q-btn flat
                         label="Eliminar"
                         @click="deleteDriver(confirmRemoveDriver.item)"
                         color="red"
                         v-close-popup/>
                </q-card-actions>
              </q-card>
            </q-dialog>
          </q-td>
        </q-tr>
        <q-inner-loading :showing="loading" color="primary"/>
      </template>
    </q-table>
    <div class="q-pt-sm q-pl-lg text-secondary text-body1">{{ message }}</div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue';
import DriverService from '../services/driver.service';

const serverErrorMessage = 'Connection error: Server is not running';
const columns = [
  {
    name: 'id',
    required: true,
    label: 'Transunion ID',
    align: 'center',
    field: (row) => row.id,
    sortable: true,
  },
  {
    name: 'easyTaxiId',
    align: 'center',
    label: 'EasyTaxiOffice ID',
    field: 'easyTaxiId',
  },
  {
    name: 'name',
    align: 'center',
    label: 'Nombre',
    field: 'name',
  },
  {
    name: 'email',
    align: 'center',
    label: 'Email',
    field: 'email',
  },
  {
    name: 'phoneNumber',
    align: 'center',
    label: 'Numero de telefono',
    field: 'phoneNumber',
  },
  {
    name: 'business',
    align: 'center',
    label: 'Empresa',
    field: 'business',
  },
  {
    name: 'telegramChatId',
    align: 'center',
    label: 'Identificador Chat Telegram',
    field: 'telegramChatId',
  },
  {
    name: 'actions',
    align: 'center',
    label: 'Acciones',
    field: 'actions',
  },
];

export default defineComponent({
  name: 'ManageDrivers',
  methods: {
    fetchDrivers() {
      this.loading = true;
      DriverService.fetchDrivers()
        .then(
          (response) => {
            this.loading = false;
            this.rows = response.sort((a, b) => (a.id - b.id));
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    addDriver(driver) {
      this.loading = true;
      DriverService.addDriver(driver)
        .then(
          () => {
            this.resetAddDriverInputs();
            this.fetchDrivers();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    updateDriver(driver) {
      this.loading = true;
      DriverService.updateDriver({
        driverId: driver.id,
        driver: {
          easyTaxiId: Number(driver.easyTaxiId),
          name: driver.name,
          email: driver.email,
          phoneNumber: driver.phoneNumber,
          business: driver.business,
          telegramChatId: driver.telegramChatId,
        },
      })
        .then(
          () => {
            this.fetchDrivers();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    deleteDriver(driver) {
      this.loading = true;
      DriverService.deleteDriver(driver.id)
        .then(
          () => {
            this.fetchDrivers();
          },
          (error) => {
            this.loading = false;
            const errorResponse = error.response?.data;
            if (errorResponse) {
              this.message = errorResponse.error.message;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },

    sendWhatsappMessage(phoneNumber) {
      const whatsappURL = `https://api.whatsapp.com/send?phone=${phoneNumber}&text=`;
      window.open(whatsappURL + encodeURIComponent('Hoja/s de ruta:'));
    },

    resetAddDriverInputs() {
      this.addNewDriver.driverData.id = 1;
      this.addNewDriver.driverData.easyTaxiId = 1;
      this.addNewDriver.driverData.name = '';
      this.addNewDriver.driverData.email = '';
      this.addNewDriver.driverData.phoneNumber = '';
      this.addNewDriver.driverData.business = '';
      this.addNewDriver.driverData.telegramChatId = '';
    },
  },
  created() {
    this.fetchDrivers();
  },
  setup() {
    const selected = ref([]);

    return {
      addNewDriver: ref({
        driverData: {
          id: ref(1),
          easyTaxiId: ref(1),
          name: ref(''),
          email: ref(''),
          phoneNumber: ref(''),
          business: ref(''),
          telegramChatId: ref(''),
        },
        activeDialog: ref(false),
      }),
      confirmRemoveDriver: ref({
        item: {},
      }),
      updateFormDriver: ref({
        editDriverData: {
          id: ref(1),
          easyTaxiId: ref(1),
          name: ref(''),
          email: ref(''),
          phoneNumber: ref(''),
          business: ref(''),
          telegramChatId: ref(''),
        },
      }),

      loading: ref(false),
      message: ref(''),
      columns,
      selected,
      rows: ref([]),
    };
  },
});
</script>

<style scoped>

</style>
