<template>
  <q-page class="column items-center">
    <h4>Enviar hojas de ruta</h4>
    <div class="row items-center q-pb-md">
      <q-uploader
        class="q-mr-md"
        style="width: 500px; height: 300px"
        :factory="factoryFn"
        @uploaded="getResponse"
        @failed="failedFile"
        label="Añadir hojas de ruta"
        multiple
        batch
        :disable="loading"
        accept=".pdf"
        fieldName="files"
      />
    </div>
    <q-list dense padding class="rounded-borders q-mt-lg">
      <q-item v-for="message in messages" :key="message">
        <q-item-section avatar>
          <q-icon name="info"/>
        </q-item-section>
        <q-item-section>
          {{ message }}
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'TelegramWayBill',
  setup() {
    return {
      tab: ref('pending'),
      loading: ref(false),
      messages: ref([]),
    };
  },
  methods: {
    failedFile(event) {
      let response = 'Connection error: Server is not running';

      if (event?.xhr?.response) {
        response = event?.xhr?.response;
      }

      const responseStatuses = JSON.parse(response);
      responseStatuses.forEach((status) => this.messages.push(status));
      this.loading = false;
    },
    async getResponse(event) {
      const responseStatuses = JSON.parse(event?.xhr?.response);
      responseStatuses.forEach((status) => this.messages.push(status));
      this.loading = false;
    },
    factoryFn() {
      this.messages = [];
      this.loading = true;
      return {
        url: `${process.env.API_TELEGRAM_REST}sendPDFToDriver/`,
        method: 'POST',
      };
    },
  },
};
</script>

<style scoped>

</style>
