<template>
  <q-page class="q-pt-lg column items-center">
    <q-card class="my-card q-mb-lg" style="margin-top: 50px;">
      <q-card-section>
        <div class="text-h6">Obtener servicios pendientes de registar en el VTC</div>
        <div class="text-subtitle1">Selecciona la fecha de los servicios a registrar:</div>
      </q-card-section>

      <q-card-section>
        <q-input class="col q-mb-md" filled
                 v-model="date"
                 name="date"
                 label="Fecha">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                <q-date v-model="date" mask="YYYY-MM-DD">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat/>
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <div class="text-secondary text-body1">{{ message }}</div>
      </q-card-section>

      <q-separator/>

      <q-card-actions>
        <q-btn @click="getTransferService" :disable="loading" flat>Descargar TXT</q-btn>
        <q-btn @click="getTransferServiceAuro" :disable="loading" flat>Descargar Auro</q-btn>
        <q-inner-loading :showing="loading">
          <q-spinner
            color="primary"
            size="3em"
          />
        </q-inner-loading>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
import { exportFile } from 'quasar';
import VtcRegisterService from '../services/vtcRegister.service';

const serverErrorMessage = 'Connection error: Server is not running';

export default defineComponent({
  name: 'VtcRegisterTransfer',
  methods: {
    getTransferService() {
      this.message = '';
      this.loading = true;
      VtcRegisterService.getPendingTransfersToRegister(this.date)
        .then(
          (response) => {
            const csvString = [
              ...response.map((item) => [
                item.serviceId,
                item.carRegistration,
                item.holderNif,
                item.intermediaryNif,
                item.dateTimeContract,
                item.provinceContract,
                item.municipalityContract,
                item.provinceOrigin,
                item.municipalityOrigin,
                item.addressOrigin,
                item.startDateTime,
                item.provinceDestination,
                item.municipalityDestination,
                item.addressDestination,
                item.endDate,
                item.provinceMoreFar,
                item.municipalityMoreFar,
                item.addressMoreFar,
                item.trust,
              ]),
            ].map((e) => e.join(';'))
              .join('\n');

            exportFile(
              `pending-transfers-vtc-${this.date}.txt`,
              csvString,
              'text/plain',
            );
            this.loading = false;
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loading = false;
            if (errorResponse) {
              this.message = errorResponse;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },
    getTransferServiceAuro() {
      this.message = '';
      this.loading = true;
      VtcRegisterService.getPendingTransfersToRegisterAuro(this.date)
        .then(
          (response) => {
            const csvString = [
              ...response.map((item) => [
                item.serviceId,
                item.carRegistration,
                item.holderNif,
                item.intermediaryNif,
                item.dateTimeContract,
                item.provinceContract,
                item.municipalityContract,
                item.provinceOrigin,
                item.municipalityOrigin,
                item.addressOrigin,
                item.startDateTime,
                item.provinceDestination,
                item.municipalityDestination,
                item.addressDestination,
                item.endDate,
                item.provinceMoreFar,
                item.municipalityMoreFar,
                item.addressMoreFar,
                item.trust,
              ]),
            ].map((e) => e.join(';'))
              .join('\n');

            exportFile(
              `pending-transfers-vtc-auro-${this.date}.txt`,
              csvString,
              'text/plain',
            );
            this.loading = false;
          },
          (error) => {
            const errorResponse = error.response?.data;
            this.loading = false;
            if (errorResponse) {
              this.message = errorResponse;
            } else {
              this.message = serverErrorMessage;
            }
          },
        );
    },

  },
  setup() {
    return {
      pendingTransfers: ref([]),
      loading: ref(false),
      message: ref(''),
      date: ref(''),
    };
  },
});
</script>
