<template>
  <q-btn
    color="blue"
    icon-right="archive"
    :label="this.buttonLabel"
    no-caps
    :disable="this.data <= 0"
    @click="exportExcel">
  </q-btn>
</template>

<script>
import * as XLSX from 'xlsx/xlsx.mjs';

export default {
  name: 'download-excel',
  props: {
    columns: {
      type: Array,
      default: () => [],
    },
    data: {
      type: Array,
      default: () => [],
    },
    filename: {
      type: String,
      default: 'excel',
    },
    buttonLabel: {
      type: String,
      default: 'Exportar Excel',
    },
  },

  methods: {
    exportExcel() {
      const createXLSLFormatObj = [];
      const newXlsHeader = [];

      this.columns.forEach((column) => {
        newXlsHeader.push(column.label);
      });

      createXLSLFormatObj.push(newXlsHeader);

      this.data.forEach((value) => {
        const innerRowData = [];
        this.columns.forEach((val) => {
          if (val.format !== void 0) {
            innerRowData.push(val.format(value));
          } else {
            innerRowData.push(value[val.field]);
          }
        });
        createXLSLFormatObj.push(innerRowData);
      });

      /* File Name */
      const filename = `${this.filename}.xlsx`;

      /* Sheet Name */
      const wsName = 'invoice';

      const wb = XLSX.utils.book_new();
      const ws = XLSX.utils.aoa_to_sheet(createXLSLFormatObj);

      // /* Add worksheet to workbook */
      XLSX.utils.book_append_sheet(wb, ws, wsName);
      XLSX.writeFile(wb, filename);
    },
  },
};
</script>
