<template>
  <template v-if="subMenus.length >= 1">
    <q-expansion-item
      :icon="icon"
      :label="title"
      :content-inset-level="0.5"
      default-opened
    >
      <q-item
        v-for="subMenu in subMenus"
        :key="subMenu.title"
        v-bind="subMenu"
        clickable
        tag="a"
        :to="subMenu.link"
      >
        <q-item-section
          v-if="subMenu.icon"
          avatar
        >
          <q-icon :name="subMenu.icon"/>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ subMenu.title }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>
  </template>
  <template v-else>
    <q-item
      clickable
      tag="a"
      :to="link"
    >
      <q-item-section
        v-if="icon"
        avatar
      >
        <q-icon :name="icon"/>
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ title }}</q-item-label>
      </q-item-section>
    </q-item>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true,
    },

    link: {
      type: String,
      default: '#',
    },

    subMenus: {
      type: Array,
      default: () => [],
    },

    icon: {
      type: String,
      default: '',
    },
  },
});
</script>
