<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Avantcab Hub
        </q-toolbar-title>

        <q-btn flat round dense icon="logout" @click="logOut"/>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Menu
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue';

const linksList = [
  {
    title: 'Sincronización de servicios',
    icon: 'sync',
    link: '/sync-transfers',
  },
  {
    title: 'Registro VTC',
    icon: 'get_app',
    subMenus: [
      {
        title: 'Registrar Servicios',
        icon: 'view_list',
        link: '/vtc-register/register-transfers',
      },
      {
        title: 'Actualizar puntos de recogida',
        icon: 'publish',
        link: '/vtc-register/point-code-zones',
      },
    ],
  },
  {
    title: 'Importar',
    icon: 'import_export',
    subMenus: [
      {
        title: 'Servicios Bisbal',
        icon: 'view_list',
        link: '/import-transfer/form',
      },
      {
        title: 'Comas/SunTransfers',
        icon: 'publish',
        link: '/import-transfer/xml',
      },
      {
        title: 'Hoppa',
        icon: 'upload_file',
        link: '/import-transfer/hoppa',
      },
      {
        title: 'LoveHolidays',
        icon: 'upload_file',
        link: '/import-transfer/love-holidays',
      },
    ],
  },
  {
    title: 'Exportar',
    icon: 'import_export',
    subMenus: [
      {
        title: 'Servicios Excel',
        icon: 'view_list',
        link: '/export-transfer/excel',
      },
    ],
  },
  {
    title: 'Telegram Bot',
    icon: 'smart_toy',
    subMenus: [
      {
        title: 'Hojas de ruta',
        icon: 'ios_share',
        link: '/telegram-bot/waybills',
      },
    ],
  },
  {
    title: 'Gestiones',
    icon: 'manage_accounts',
    subMenus: [
      {
        title: 'Conductores',
        icon: 'groups',
        link: '/manager/drivers',
      },
      {
        title: 'Vehiculos',
        icon: 'directions_car',
        link: '/manager/vehicles',
      },
      {
        title: 'Empresas',
        icon: 'business',
        link: '/manager/businesses',
      },
    ],
  },
];

import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'MainLayout',
  components: {
    EssentialLink,
  },
  setup() {
    const leftDrawerOpen = ref(false);

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    },
  },
});
</script>
